body{
	background-color:#dae0c5;
}

.focus{
  position:fixed;
  height:100vh;
  width:100vw;
  left:0;
  top:0;
  background-color: white;
}

.focus .editor{
  height:95vh;
}

.full-height{
  height: 100%
}

.btn-ribbon{
	display:inline;
	text-align: center;
	background-color:gray;
	border-radius: 2px;
	vertical-align: middle;
}

.editor{
	background-color: white;
  margin-bottom:20px;
  height:60vh;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  right: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-color: #b9bdaa;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
  color: black;
  padding: 10px 15px;
  border: none;
  float:right;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.folder-li{
  width:100%;
}

.note-li{
  width:80%;
  padding-left:20%;
}

.notes{
	color:black;
	font-size: 25px;

}

#notelist{
	list-style-type: none;
  padding-right:20px;
  padding-left:20px;
}

#notelist ul{
  list-style-type: none;
}

#notelist li{
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding-left:10px;
  padding-right:10px;
  margin-top:3px;
  margin-bottom:3px;
}

#notelist li li:hover{
  background-color: white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.notes-btn{
	margin-left:20px;
}

.left-note{
  float:left;
  margin-top:6px;
  cursor:move;
}

.mid-note{
  cursor:pointer;
}

.edit-note{
  width:60%;
  border-radius:5px;
}

.right-note{
  float:right;
  margin-top:6px;
}

form{
  font-size:18px;
}

#side-nav{
  padding-top:10%;
  font-size:20px;
  overflow-y:scroll;
  height:80vh;
}

#side-nav ul{
  list-style-type: none;
  margin-bottom:5px;
}

#side-nav li{
  border-bottom:1px solid black;
  margin-bottom:5px;
  color:gray;
}

#side-nav a{
  text-decoration: none;
  color:gray;
  word-wrap:break-word;

}

#side-nav a:hover{
  color:#111;
}